button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
      
    }
    #price{
      color: #ff136f;
    }
    .carousel-item{
      padding: 20px 40px;
    }
    .bg-color{
      background-color: #fceae8;
      border-radius: 10px;
      
    }

    .container{
      margin-bottom: 100px;
    }
   
    .cat1{
        background-color: orange;
    }
    .cat2{
        background-color: orchid;
    }
    .cat3{
        background-color: blue;
    }
    .cat1, .cat2, .cat3{
        padding: 10px 30px;
        padding: 10px;
        border-radius: 10px;
        
    }
    .catagories h1{
        color: white;
    }
    .catagories img{
        width: 100px;
    }

    .card{
        border: none;
        box-shadow: 5px 5px 10px lightgray;
    }
    .card-footer{
        background: white;
        border-top: none;
        
    }
   #subscribe{
       
       height: 300px;
   }
   #subscribe h6{
       color: gray;
   }
  
    footer{
        
        text-align: center;
    }

    